doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title
        script(type='text/javascript', src = "/assets/bundle.js")
        link(rel="styleSheet", href="/scss/scss/style.css")
    body
        h2 Test1
        div(class="test")
        h2 Test2
        div(class="test2")
        h2 Test3
        div(class="test3")
